{
    "presets": [
        ["env", {
            "targets": {
                "android": 30,
                "chrome": 56,
                "edge": 14,
                "explorer": 9,
                "firefox": 52,
                "safari": 8
            },
            "modules": false
        }]
    ],
    "plugins": [
        "transform-class-properties",
        "transform-object-rest-spread"
    ]
}